:root {
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextAdditional: #ffffff;
  --colorTextAdditionalProzoruy: rgba(255, 255, 255, 0.6);
  --colorTextHover: #2196f3;
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--colorTextPrimary);
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* --------header--------- */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--colorTextSecondary);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--colorTextPrimary);
}
.nav-link:hover {
  color: var(--colorTextHover);
}
.header-address-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.address-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--colorTextSecondary);
  text-decoration: none;
}
.address-link:hover {
  color: var(--colorTextHover);
}
/* ----------------------main--------------- */
.hero {
  background-color: var(--colorBackgroundPrimary);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextAdditional);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--colorTextAdditional);
  background-color: var(--colorTextHover);
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.advantages-title {
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-text {
  line-height: 1.71429;
  color: var(--colorTextSecondary);
}
.work {
  padding-bottom: 94px;
}
.work-images {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.team-members {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--colorBackgroundSecondary);
}
.teammate-foto {
  width: 270px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.teammate-role {
  font-size: 16px;
  color: var(--colorTextSecondary);
  text-align: center;
}
/* ------------------------------footer-------------- */
.footer {
  background-color: var(--colorBackgroundPrimary);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  line-height: 1.71429;
  color: var(--colorTextAdditional);
}
.footer-link {
  line-height: 1.71429;
  color: var(--colorTextAdditionalProzoruy);
}
/* ---------------------------Портфоліо-------------------- */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: inherit;
  line-height: 1.625;
  text-align: center;
  color: inherit;
}
.list-button:hover {
  color: var(--colorTextAdditional);
  background-color: var(--colorTextHover);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--colorTextSecondary);
}
