.efect {
  background-color: #2f303a;
}
.foot {
  background-color: #2f303a;
}
p {
  color: #757575;
}
button {
  background-color: #2196f3;
}
.team {
  background-color: #f5f4fa;
}
h2 h3 {
  color: #212121;
}
